.item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  margin-top: 8px;
}

.status {
  margin-top: 8px;
  font-size: 14px;
  color: #888;
}

.online {
  color: #4caf50;
}

.offline {
  color: #f44336;
}