.list {
  list-style: none;
  padding: 0;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.item {
  display: flex;
  align-items: center;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}